# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build files
dist/
build/

# Downloaded videos
server/uploads/

# Temporary files
temp/
tmp/

# Log files
*.log

# Operating system files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/